{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <form id="form" name="form" class="form" action="{% domain + '/api/users/auth/token/login' %}" method="post">{% csrf_token %}
        <h1 class="form__title">Вход</h1>
        {% for f in form %}
        <div class="form__group">
            {{ f }}
            <label class="form__label">{{ f.label }}</label>
        </div>
        {% endfor %}
        <label class="password__text"> Показать пароль</label>
        <input type="checkbox" id="password-checkbox" class="password__checkbox"><br>
        <input type="submit" name="submit" class="form__button" value="Войти" > 
    </form>
    <script type="text/javascript" src="{% static 'core/js/show-psw.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/js/send-form.js' %}"></script> 
</div>
{% endblock %}  