{% extends 'core/base.html' %}
{% load static %}s
{% block script %}
{% endblock %}
{% block content %}
<div class="container">
    <form id="form" name="form" class="form" action="{% url 'api_sign_in' %}" method="post">{% csrf_token %}
        <h1 class="form__title">Вход</h1>
        <div id="message" class="message"></div>
        <div class="form__group">
            <input class="form__input" id="email" name="email" type="Email" placeholder=" ">
            <label class="form__label">Email</label>
        </div>

        <div class="form__group">
            <input class="form__input" id="password-input" id="password" name="password" type="password" placeholder=" ">
            <label class="form__label">Пароль</label>
            <label class="password__text"> Показать пароль</label>
            <input type="checkbox" class="password__checkbox"><br>
        </div>
        <input type="submit" name="submit" class="form__button" value="Войти" >
        <script type="text/javascript" src="{% static 'core/js/show-psw-ent.js' %}"></script>
        <script type="text/javascript" src="{% static 'core/js/send-form.js' %}"></script>    
    </form>
</div>
{% endblock %}  