{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <form class="form" id="form" action="{% url 'api_sign_up' %}" method="post">{% csrf_token %}
        <h1 class="form__title">Регистрация</h1>
        {% for f in form %}
        <div class="form__group">
            {{ f }}
            <label class="form__label">{{ f.label }}</label>
        </div>
        {% endfor %}
<!--         <div class="form__group">
            <input class="form__input" id="password-input2" name="password2" type="password" placeholder=" ">
            <label class="form__label">Повторите пароль</label>
        </div>  -->
        <label class="password__text">Показать пароль</label>
        <input type="checkbox" id="password-checkbox" class="password__checkbox"><br>
        <input id="submit" type="submit" class="form__button" value="Зарегистрироваться">
        </div>
        <script type="text/javascript" src="{% static 'core/js/show-psw.js' %}"></script>          
        </script>
        <script type="text/javascript" src="{% static 'core/js/send-form.js' %}"></script>
        </form>
</div>
{% endblock %}  
